<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}">AI Trainer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Exercises
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/video">Handcurl</a>
                  <a class="dropdown-item" href="/uploadVideo">Squats</a>
                </div>
              </div>
        </ul>
    </div>
    <form class="form-inline">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.username}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <a href="{% url 'register' %}"><button class="btn btn-outline-success" type="button">Register</button></a>
        <a href="{% url 'login' %}"><button class="btn btn-outline-success" type="button">Login</button></a>
        {% endif%}
    </form>
</nav>